.cartDiv {
    padding: 50px;
    text-align: center;



}


.cartImg {
    margin: 10px;
    width: 100px;
    height: 100px;
}


.cartOrder {
    padding: 10px;
    text-align: center;
    border: solid 2px cornflowerblue;
    border-radius: 10%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.containerOrder {
    text-align: center;
}

li div {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    width: 100px;
}


.prodName {
    width: 200px;
}

.cartClear {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.emptyCart {
    text-align: center;
    color: rgb(67, 155, 228);
}

.emptyCartButton {
    text-align: center;
}

.checkOut {
    margin: 10px;
    border: solid 2px;
}