.cartDiv {
    padding: 50px;
}


.cartImg {
    margin: 10px;
    width: 100px;
    height: 100px;
}

.cartList {
    display: inline-block;
}

li div {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    width: 100px;
}


.prodName {
    width: 200px;
}

.cartClear {
    position: absolute;
    padding-bottom: 100px;
    right: 100px;
}