.itemDetailSizeLeft {
    display: inline-block;
    text-align: center;
    width: 50%;
}

.itemDetailSizeLeft img {

    height: 400px;
    margin-bottom: 200px;
    margin-left: 150px;
    text-align: center;

}

.itemDetailSizeRight {
    width: 50%;
    display: inline-block;
    text-align: center;
    position: absolute;

}