.ulItemList {
    text-align: center;
    padding: 20px;
}

.ulItemList div {
    display: inline-block;
    padding: 30px;
    text-align: center;
}

.itemList {
    color: white;
    text-decoration: none;
}

.itemContainer {
    padding-top: 30px;
}

.charging {
    text-align: center;
    padding-top: 50px;
}

.itemListRendering {
    padding-left: 45%;
    padding-top: 50px;
}