.ulItemList {
    text-align: center;
    padding: 20px;
}

.ulItemList div {
    display: inline-block;
    padding: 30px;
    text-align: center;
}

.itemList {
    color: white;
    text-decoration: none;
}

.itemContainer {
    padding-top: 30px;
    /*  height: 300px; */
}

.charging {
    text-align: center;
    padding-top: 50px;
}

.itemListRendering {
    padding-left: 45%;
    padding-top: 50px;
}

.row img {
    width: 318px;
    height: 318px;
}

.itemDetailSize {
    width: 100%;
    text-align: center;
}

.itemDetailSizeLeft {
    width: 50%;
    display: inline-block;
}

.itemDetailSizeLeft img {
    width: 400px;
    height: 400px;
    margin-bottom: 150px;
    margin-left: 150px;

}

.itemDetailSizeRight {
    padding-top: 50px;
    width: 50%;
    display: inline-block;
    text-align: center;
}